{% extends "base.html" %}


{% block content %}

<section id="main-slider" class="no-margin">
        <div class="carousel slide wet-asphalt">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" style="background-image: url(static/images/bg1.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">Ask anything you want!</h2>
                                    <p class="animation animated-item-2">We got the answer for you...on this site</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/slider/bg2.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="carousel-content center centered">
                                    <h2 class="boxed animation animated-item-1">Clean, Crisp, Powerful and Responsie Web Design Theme</h2>
                                    <p class="boxed animation animated-item-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                    <br>
                                    <a class="btn btn-md animation animated-item-3" href="#">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
                <div class="item" style="background-image: url(images/slider/bg3.jpg)">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content centered">
                                    <h2 class="animation animated-item-1">Powerful and Responsive Web Design Theme</h2>
                                    <p class="animation animated-item-2">Pellentesque habitant morbi tristique senectus et netus et malesuada fames</p>
                                    <a class="btn btn-md animation animated-item-3" href="#">Learn More</a>
                                </div>
                            </div>
                            <div class="col-sm-6 hidden-xs animation animated-item-4">
                                <div class="centered">
                                    <div class="embed-container">
                                        <iframe src="//player.vimeo.com/video/69421653?title=0&amp;byline=0&amp;portrait=0&amp;color=a22c2f" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="icon-angle-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="icon-angle-right"></i>
        </a>
    </section><!--/#main-slider-->

    <div class="masthead">
    	<div class='container'>
	    	<h2 class='header-xlg'>
	    		Welcome to the Question and Answer final project page.
	    	</h2>
	        <h2>
	        </h2>
	      </div>
    </div>
    <div class='container features'>
    	<h1 class='header-lg'>Some features I provide.</h1>
    	<div class='row'>
    		<div class='col-lg-4'>
    			<h2>Feature 1</h2>
    			<p class='lead'>
    				<br>1. Allow multiple users to login and view questions and modify questions.  <br>2. Non login user can view all questions without problem. ->Look Around->All questions.  <br>3. Only show 10 questions on a page, this is done through query. ->Look Around->All questions. <br>4. Answers are sorted by largest difference between up and down.->Look Around ->All questions->click one of the questions, you can see all anwsers for that question. <br>5. you can tag for a question when creating a question. ->Look Around ->All questions->Create link. <br>6. http site is showed in a link format while jpg is showed as a inline picture.  <br>7. you can upload picture with your id. ->Look Around ->My picutres, This is done through blobstore in epp engine.  
    			</p>
    		</div>
    		<div class='col-lg-4'>
    			<h2>Feature 2</h2>
    			<p class='lead'>
    				<br>8. Each question and answer has a permalink, you can find it through ->Look Around ->All questions->click one of the questions->go to link.  And limited in 500 Char on the home page.
                    <br>9. Each question and answer timestamps are saved in its permalink, you can find it through ->Look Around ->All questions->click one of the questions->go to link.
                     <br>10.RSS link is created using Django library.  ->Look Around -> RSS Link.
    			</p>
    		</div>
    		<div class='col-lg-4'>
    			<h2>Additional Feature</h2>
    			<p class='lead'>
    				<br>Bootstrap User interface.
                    <br>Allow user to edit questions and answers and pictures.
                    <br>email can send to admin of the website, detail please look at handle_incoming_email.py.
    			</p>
    		</div>
    	</div>
    </div>
{% endblock content %}